.header {
    position: unset;
}
.conteudo h1 {
    color: white;
    text-shadow:
        -1px -1px 0px #000000,
        -1px 1px 0px #000000,
        1px -1px 0px #000000,
        1px 0px 0px #000000;
}

.conteudo .container {
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
}

.campos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 65vh;
    gap: 25px;
}

.campos input {
    width: 90%;
    border: 5px solid #000000;
    border-radius: 50px;
    padding: 2%;
}

.personagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 65vh;
}

.personagem #img_personagem {
    background-size: cover;
    width: 224px;
    height: 224px;
    border: 8px solid #000000;
    border-radius: 5px;
}

.shinra {
    background-image: url(../assets/personagens_icon/shinra_icon.jpg);
}

.arthur {
    background-image: url(../assets/personagens_icon/arthur_icon.jpg);
}

.benimaru {
    background-image: url(../assets/personagens_icon/beni_icon.jpg);
}

.joker {
    background-image: url(../assets/personagens_icon/joker_icon.jpg);
}

.obi {
    background-image: url(../assets/personagens_icon/obi_icon.jpg)
}

.maki {
    background-image: url(../assets/personagens_icon/maki_icon.jpg);
}

.iris {
    background-image: url(../assets/personagens_icon/iris_icon.jpeg);
}

.tamaki {
    background-image: url(../assets/personagens_icon/tamaki_icon.jpg);
}

.personagem #select_personagem_favorito {
    width: 50%;
    height: 11%;
    border: 5px solid #000000;
    border-radius: 50px;
    padding-left: 2%;
    font-weight: 900;
}

.conteudo button {
    cursor: pointer;
    width: 30%;
    height: 55px;
    font-size: x-large;
    font-weight: 900;
    background: #C6260E;
    border: 5px solid #000000;
    border-radius: 50px;
}