body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/background.png);
    background-size: cover;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header {
    display: flex;
    background: rgba(0, 0, 0, 0.7);
}

.header img {
    width: 199px;
    height: 99px;
    left: 84px;
    top: 11px;
}

.header .container {
    justify-content: space-between;
    padding: 1%;
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    list-style: none;
}

.navegacao li, .navegacao a {
    color: white;
    text-decoration: none;
}

.conteudo {
    display: flex;
}

.conteudo h1 {
    color: white;
    text-shadow: 
               -1px -1px 0px #000000, 
               -1px 1px 0px #000000,                    
                1px -1px 0px #000000,                  
                1px 0px 0px #000000;
}

.conteudo .container {
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
}

.campos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;

}

.campos input {
    width: 100%;
    border: 5px solid #000000;
    border-radius: 50px;
    padding: 2%;
    margin-bottom: 4%;
}

.personagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.personagem #img_personagem {
    background-image: url(../assets/personagens_icon/shinra_icon.jpg);
    background-size: cover;
    width: 224px;
    height: 224px;
    border: 8px solid #000000;
    border-radius: 5px;
}

.personagem #select_personagem_favorito {
    width: 100%;
    height: 11%;
    border: 5px solid #000000;
    border-radius: 50px;
    padding-left: 2%;
    font-weight: 900;
}

.conteudo button {
    width: 30%;
    height: 55px;
    font-size: x-large;
    font-weight: 900;
    background: #C6260E;
    border: 5px solid #000000;
    border-radius: 50px;
}