.home {
    display: flex;
    width: 85vw;
}

.container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    width: 100%;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-items: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 5px;
    font-size: xx-large;
    color: #ffffff;
    background-color: #FF3300;
    border: #000000 solid;
    width: 362px;
    height: 140px;
    text-shadow:
        -1px -1px 0px #000000,
        -1px 1px 0px #000000,
        1px -1px 0px #000000,
        1px 0px 0px #000000;
}

#numero_de_usuarios {
    font-size: 5rem;
}

.card #img_fav {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #000000 solid;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.card img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.graficos {
    display: flex;
    justify-content: center;
    background-color: #FF3300;
    border: #000000 solid;
    width: 30vw;
    height: 140px;
}

#grafico_personagem {
    height: 48vh;
}